*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: Oswald;
  font-size: 47px;
  line-height: 50px;
  color: #382459;
}

.btn {
  min-width: 225px;
  min-height: 50px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #fff;
  background-color: rgba(255, 29, 192, 1);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

/* ------------------------------------- */

.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 100px;
}

.header__inner {
  min-height: 100vh;
  color: #fff;
  padding: 45px 0 0 0;
}

.header__logo {
  padding-right: 33px;
}

.header__contacts {
  position: absolute;
  right: 20px;
  top: 80px;
}

.header__hashtag {
  font-weight: 800;
  line-height: 20px;
}

.header__phone {
  padding-left: 60px;
}

.header__title {
  max-width: 535px;
  font-size: 64px;
  line-height: 70px;
  color: #30FFCD;
  text-transform: uppercase;
  padding-top: 115px;
  padding-bottom: 25px;
}

.header__description {
  max-width: 550px;
  margin-bottom: 45px;
}

.header__start {
  max-width: 260px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.05em;
  border-bottom: 1px dashed yellow;
  padding-bottom: 3px;
}

.nae {
  position: relative;
  margin-bottom: 100px;
}

.nae__button {
  position: absolute;
  top: 0px;
  right: 20px;
}

.nae__title {
  padding-bottom: 125px;
}
  
.nae__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.nae__box-item {
  max-width: 415px;
}

.nae__item-title {
  max-width: 265px;
  font-size: 25px;
  line-height: 32px;
  color: #382459;
  margin-top: 35px;
  margin-bottom: 15px;
}

.price {
  position: relative;
  background-color: #382459;
  padding-top: 100px;
  padding-bottom: 100px;
}

.price__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 190px;
}

.price__box-item {
  max-width: 310px;
  color: #fff;
}

.price__item-title {
  font-size: 40px;
  line-height: 33px;
  color: #30FFCD;
  margin-bottom: 25px;  
}

.price__item-description {
  margin-bottom: 25px;
}

.price__item-source {
  font-size: 10px;
  line-height: 15px;
}

.price__image {
  position: absolute;
  right: 20px;
  top: 510px;
}

.tnk {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tnk__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
}

.tnk__box-item:first-child {
  max-width: 270px;
}

.tnk__box-item:nth-child(2) {
  max-width: 320px;
}

.tnk__box-item:last-child {
  max-width: 260px;
}

.tnk__item-title {
  font-size: 25px;
  line-height: 32px;
  color: #382459;
  padding-bottom: 25px;
}

.tnk__title {
  padding-bottom: 100px;
}

.directions {
  background-color: #382459;
  padding-top: 100px;
  padding-bottom: 100px;
}

.directions__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.directions__box-item {
  list-style: none;
  color: #fff;
}

.directions__box-item:first-child {
  max-width: 435px;
}

.directions__box-item:last-child {
  max-width: 420px;
}

.directions__item-title {
  font-family: Oswald;
  font-size: 40px;
  line-height: 48px;
  color: #30FFCD;
  padding-bottom: 75px;
}

.directions__item-description {
  padding-bottom: 30px;
}

.directions__item-button {
  color: #30FFCD;
  background: transparent;
  border: 2px solid #33DFC0;
}

.ius {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ius__title {
  padding-bottom: 50px;
}

.ius__description {
  max-width: 350px;
  color: #382459;
}

.ius__image {
  position: absolute;
  top: -100px;
  right: 20px;
}